.hamburger-menu {
    display: block;
    position: relative;
    width: 10px;
    height: 20px;
    cursor: pointer;
  }
  
  .hamburger-line {
    display: block;
    position: absolute;
    top: 50%;
    width:15px;
    height: 4px;
    background-color: #333;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
  }
  .menul{
    position:absolute;
    top:15px;
    right:0px;
}
  .hamburger-line:nth-child(1) {
    transform: translateY(-7px) rotate(0deg);
  }
  
  .hamburger-line:nth-child(2) {
    transform: translateY(0px) rotate(0deg);
  }
  
  .hamburger-line:nth-child(3) {
    transform: translateY(7px) rotate(0deg);
  }
  